---
---
<footer>
    <h4>&copy; {new Date().getFullYear()} Panukodev</h4>
</footer>

<style>
    footer {
        margin-top: 2rem;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #2B2B2C;
        & h4 {
            font-size: 2.2rem;
        }
    }
</style>