---
import { Login } from './auth/Login';
---
<header>
    <div class="hero-content">
        <div class="logo"><h1>Tiny Photo Search</h1></div>
        <!-- <Login /> -->
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        & .hero-content {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            padding: .8rem 20px;
            & .logo {
                width: 100%;
                & h1 {
                    font-size: 3.4rem;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: rgb(0, 0, 0);
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
</style>